#queHacemos{
    //background-color: $azul;
    background-image: url('../img/backgroundQuehacemos.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $blanco;
    padding: 80px;
    position: relative;
	@include breakpoint(md-max) {
        padding: 0;
    }
    
    .queHacemosText{
        padding: 50px;
        h2{
            padding-bottom: 30px;
        }
    }
    .gridcontainer{
        padding: 50px;
        @include breakpoint(md-max) {
            padding: 0;
        }
        .grid{
            border: 1px solid $blanco;
            padding: 15px;
            margin: 0 10px 0 10px;
            display: table;
            height: 300px;
            @extend .transition;
            @include breakpoint(md-max) {
                margin: 20px 10px;
            }
            .child {
                display: table-cell;
                vertical-align: middle;
            }
        }
        .grid:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    .textPuntos{
        letter-spacing: 1.5px;
        .dot{
            margin-right: 13px;
        }
        @include breakpoint(md-min){
            padding: 0 60px;
        }
    }
    .imagoipoTrabajo{
        display: block;
        margin: 0 auto;
        width: 100px;
        padding: 50px 0 0 0;
    }
    .ave{
        width: 150px;
        position: absolute;
        top: -50px;
        left: 50px;
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.ayudar{
    padding: 20px 0;
}

.botnes{
    padding: 10px 0 40px 0;
    span{
        border-radius: 5px;
        background: $azul;
        color: $blanco;
        padding: 5px 10px;
    }
    div{
        @include breakpoint(md-max) {
            margin: 10px 0;
        }
    }
}

#aliados{
    padding: 80px;
    color: $gris;
    @include breakpoint(md-max) {
        padding: 20px;
    }
    h2{
        padding-bottom: 35px;
    }
}

.rowLogros{
    background-color: #f6f6f6;
    padding: 50px;
    padding-bottom: 0;
}

#frace2{
    img{
        display: block;
        margin: 0 auto;
        width: 200px;
    }
}

#logros{
    background-color: $blanco;
    padding-top: 80px;
    h2{
        padding: 50px 0 50px 0;
        color: $gris;
    }
    .containerInfoLogros{
        background-color: $blanco;
        margin: 10px 0;
        padding:  20px 30px;
        font-weight: 500;
    }
    .perroLogros{
        display: block;
        margin: 0 auto;
        padding-top: 50px;
        width: 400px;
    }
    .btnMasInfo1,
    .btnMasInfo2,
    .btnMasInfo3,
    .btnMasInfo4,
    .btnMasInfo5,
    .btnMasInfo6,
    .btnMasInfo7{
        display: none;
    }
    .info1:hover .btnMasInfo1,
    .info2:hover .btnMasInfo2,
    .info3:hover .btnMasInfo3,
    .info4:hover .btnMasInfo4,
    .info5:hover .btnMasInfo5,
    .info6:hover .btnMasInfo6,
    .info7:hover .btnMasInfo7{
        display: block;
    } 
    .btnInfo{
        background: $azul;
        color: #fff;
        padding: 2px 0;
        @extend .transition;
        cursor: pointer;
        p{
            margin: 0;
        }
    }
}


#frace{
    padding: 80px;
    span{
        color: $azul;
        font-weight: bold;
    }
    @include breakpoint(md-max) {
        padding: 20px;
    }
}

#frace2{
    padding: 80px;
    @include breakpoint(md-max) {
        padding: 20px;
    }
    span{
        color: $azul;
        font-weight: bold;
    }
    img{
        @include breakpoint(md-max) {
            display: block;
            margin: 0 auto;
        }
    }
}

.project{
    position: absolute;
    background: $blanco;
    width: 40% !important;
    max-width: unset;
    z-index: 2;
    padding: 20px 20px 20px 20px;
    @extend .transition;
    @include breakpoint(md-max) {
        position: relative;
        width: 100% !important;
        margin-bottom: 50px;
    }
}

.project:hover{
    border-left: 5px solid $azul;    
}

.proyectoContain {
    padding: 25px 0;
    img{
        @include breakpoint(md-max) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.casoContain{
    padding: 25px 15px;;
}

.infoCaso {
    background-color: #fff;
    height: 260px;
    padding: 20px;
    font-weight: 500;
    @include breakpoint(md-max) {
        height: auto;
    }
}

.caso1{
    background-image: url('/img/Perritos Dobles.jpg');
    @extend .backgroundComplement;
    height: 200px;
}
.caso2{
    background-image: url('/img/Pirata arriba de la casa.jpg');
    @extend .backgroundComplement;
    height: 200px;
}
.caso3{
    background-image: url('/img/ramon.jpg');
    @extend .backgroundComplement;
    height: 200px;
}
.caso4{
    background-image: url('/img/Oso 1.jpg');
    @extend .backgroundComplement;
    height: 200px;
}
.caso5{
    background-image: url('/img/Lichacasa3.jpg');
    @extend .backgroundComplement;
    height: 200px;
}
.caso6{
    background-image: url('/img/Lichacasa2.jpg');
    @extend .backgroundComplement;
    height: 200px;
}

.btnMasInfo{
    background-color: $azul;
    color: $blanco;
    p{
        margin: 0;
        padding: 10px 0;
    }
}

#logosAliados{
    img{
        @include breakpoint(md-max) {
            margin: 10px 0;
        }
    }
}